@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.purple-bg {
    background-color: #3D015E;
}
.orange-bg {
    background-color: #e1a81f;
}
.orange-text {
    color: #e1a81f;
}
.medium-orange-bg {
    background-color: #DAB902;
}
.light-orange-border {
    border: solid 4px #fff2c7;
}
.purple-border {
    border: solid 4px #3D015E;
}
.purple-text {
    color:#3D015E;
}
.purple-dotted-border {
    border-top: dotted 4px #3D015E;
}