@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.purple-bg {
    background-color: #3D015E;
}
.orange-bg {
    background-color: #e1a81f;
}
.orange-text {
    color: #e1a81f;
}
.medium-orange-bg {
    background-color: #DAB902;
}
.light-orange-border {
    border: solid 4px #fff2c7;
}
.purple-border {
    border: solid 4px #3D015E;
}
.purple-text {
    color:#3D015E;
}
.purple-dotted-border {
    border-top: dotted 4px #3D015E;
}
.image-width {
    width: 40%;
}
.small-image {
    display: none;
}
.show-download {
    display: none;
}
.tiny-image {
    display: none;
}
.small-nav-shown {
    display: none;
}

/**************************************************Media Queries*/

@media (max-width:1420px) {
    .image-width {
        width: 43%;
    }
}

@media (max-width:1340px) {
    .image-width {
        width: 45%;
    }
}

@media (max-width:1300px) {
    .image-width {
        width: 50%;
    }
}

@media (max-width:1280px) {
    .image-width {
        width: 23%;
        margin-right: 120px;
    }
    .about-medium-screens {
        margin-left: 120px;
        margin-right: 450px;
    }
}

@media (max-width:1200px) {
    .image-width {
        width: 25%;
        margin-right: 120px;
    }
}

@media (max-width:1150px) {
    .image-width {
        width: 28%;
        margin-right: 120px;
    }
}

@media (max-width:1090px) {
    .image-width {
        width: 30%;
        margin-right: 90px;
    }
    .about-medium-screens {
        margin-left: 90px;
        margin-right: 450px;
    }
    .medium-logo-text-hidden {
        display:none;
    }
}

@media (max-width:1040px) {
    .image-width {
        width: 34%;
        margin-right: 90px;
    }
}

@media (max-width:983px) {
    .small-image {
        display:block;
        width: 170%;
    }
    .image-width {
        display: none;
    }
    .about-medium-screens {
        margin-left: 90px;
        margin-right: 90px;
    }
    .show-download {
        display:block;
    }
    .hide-download {
        display:none
    }
}

@media (max-width:936px) {
    .small-image {
        width: 200%;
    }
}

@media (max-width:900px) {
    .small-image {
        width: 230%;
    }
    .about-medium-screens {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (max-width:800px) {
    .tiny-image {
        display: block;
        margin-top: 20px;
    }
    .small-nav-hidden {
        display: none;
    }
    .small-nav-shown {
        display: block;
    }
    .small-image {
        display: none;
    }
    .about-medium-screens {
        margin-left: 20px;
        margin-right: 20px;
    }
}